@charset "utf-8";
/* CSS Document */


*{ margin:0; padding:0;}

body {
	line-height:130%;
	font-family: "Century Gothic", Verdana, Arial, sans-serif;
	font-size: 90%;
	background: url(images/bginner.jpg) repeat-x center top;
	color:#333333;
}
body.home {
	background: url(images/bg.jpg) repeat-x center top;
}
#container{
	width:980px;
	margin:10px auto 13px auto;
}
#header {
	background: url(images/header.jpg) no-repeat left top;
	height: 120px;
}
#sn{ width:200px; float: right; text-align:right;}
#searchbox{ width:200px; float: right; text-align:right; clear:right; margin-top:15px;}

#largeimagecontainer{ margin:20px 0 0 0; padding: 15px 0 0 0;}

#tagline{ height: 23px; width: 490px; color:#FFFFFF; font-size:150%; margin-top:22px; float: left;}

#loginlogoutdiv { height: 20px; width: 490px; color:#FFFFFF; font-size:100%; margin-top:24px; text-align: right; float: right;}

#topnav {
	clear:both; margin-top:43px;
}
#topnav ul {
	margin:0;
	padding:0;
}
#topnav li{
	float: left;
	padding:9px 5px;
	list-style: none;
	font-weight: bold;
	font-size:100%;
}
#topnav a{
	text-decoration: none;
}
#topnav a:hover{
	text-decoration: none;
}

#topnav > ul                         { position: relative; }

#topnav > ul li                      { font-weight: bold; float: left; zoom: 1; }

#topnav > ul li a                    { display: block; padding: 4px 8px; color: #ffffff; }

#topnav > ul a:hover, #topnav > ul li a:hover	          { color: #ffffff; }
#topnav > ul a:active                { color: #ffa500; }

#topnav > ul li:last-child a         { border-right: none; } /* Doesn't work in IE */

#topnav > ul li.hover, #topnav > ul li:hover                {
	background: #006868;
	color:#FFFFFF;
	position: relative;
}

#topnav > ul ul 					{  width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; z-index:100; font-size:90%;}

#topnav > ul ul li 					{
	font-weight: normal;
	background: #f6f6f6;
	border-bottom: 1px solid #ccc;
	float: none;
	padding:0;
}

#topnav > ul ul li a				{ border-right: none; width: 100%; display: inline-block; color: #333333; padding:10px; } 

#topnav > ul ul ul 					{ left: 100%; top: 0; }

#topnav > ul li:hover > ul 			{ visibility: visible; }











#spiral{
	background:url(images/spiralbg.png) no-repeat center center;
	position: relative;
	width:100%;
	height:800px;
	font-size:200%;
	font-weight: bold;
	line-height: 110%;
}
#spiral a{ text-decoration: none;  text-shadow: 0 0 15px #ffffff;}

#whichhospital a{
	color: #3AA2ED;
}
#whichhospital a:hover{ color: #7BC0F3;  }
#antenatal a{
	color: #FF598B;
}
#antenatal a:hover{ color: #FFA6C0;  }
#breastfeeding a{
	color: #AC280D;
}
#breastfeeding a:hover{ color: #EF441F;  }
#parent a{
	color: #AD4405;
}
#parent a:hover{ color: #F16108;  }
#babiestoddlers a{
	color: #D553FF;
}
#babiestoddlers a:hover{ color: #E599FF;  }
#cuidiunearyou a{
	color: #7C9526;
}
#cuidiunearyou a:hover{ color: #ABCC35;  }

#whichhospital{
	background:url(images/whichhospital.png) no-repeat center top;
	position:absolute;
	width:212px;
	height:69px;
	top:470px;
	color: #7BC0F3;
	padding:190px 0 0 50px;
}
#antenatal{ 
	background:url(images/antenatal.png) no-repeat center top;
	position:absolute; 
	width:168px; 
	height:80px;
	top:11px;
	left:163px;
	padding:440px 0 0 60px;
}
#breastfeeding{ 
	background:url(images/breastfeeding.png) no-repeat center top;
	position:absolute; 
	width:249px; 
	height:80px;
	top:66px;
	left:450px;
	padding:170px 0 0 10px;
}
#parent{ 
	background:url(images/parent.png) no-repeat center top;
	position:absolute; 
	width:241px; 
	height:120px;
	top:203px;
	left:729px;
	padding:165px 0 0 10px;
}
#babiestoddlers{ 
	background:url(images/babiestoddlers.png) no-repeat center top;
	position:absolute; 
	width:277px; 
	height:102px;
	top:539px;
	left:693px;
	padding:150px 0 0 10px;
}
#cuidiunearyou{ 
	background:url(images/cuidiunearyou.png) no-repeat center top;
	position:absolute; 
	width:162px; 
	height:200px;
	top:465px;
	left:501px;
	padding:10px 0 0 10px;
}
#footer{
	background: url(images/footerbg.jpg) repeat-x center top;
	height: 65px;
	padding:185px 0 0 0;
	color:#FFFFFF;
	font-size:85%;
}
#footer a{ color:#FFFFFF;}
#footer a:hover{ color:#FFFFFF; text-decoration: none;}
#footercontainer{
	width:980px;
	margin:0 auto 0 auto;
	padding:0 0 0 70px;
}
#col1{ float:left; width:200px; margin:35px 0 0 0;}
#col2{ float:left; width:980px; line-height:180%; }
#col2 ul, #col2 ol{ margin:0 0 20px 20px;}
#col2 ul{
	color: #006B6D;
	list-style: square;
	
}
#leftnav { clear:both;}
#col2 #leftnav ul { margin:0;}
#leftnav li {
	width: 225px;
	height:150px;
	list-style: none;
	float:left;
	margin: 0 20px 20px 0;
}
#leftnav li li{
	list-style: none;
	margin-bottom: 0;
	margin-top:5px;
}
#leftnav li a {
	width: 203px;
	height:128px;
	display: table-cell;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
	border: 1px solid #006A67;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	font-size: 180%;
	vertical-align:middle;
	text-align:center;
}
#leftnav li.subnav1 a {
	background: #5AC4EB;
	color: #FFFFFF;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8DD6F1), to(#5AC4EB)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #8DD6F1, #5AC4EB); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #8DD6F1, #5AC4EB); /* Firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #8DD6F1, #5AC4EB);/* IE 10+ */
    background-image: -o-linear-gradient(top, #8DD6F1, #5AC4EB); /* Opera 11.10+ */
}
body.languages #leftnav li.subnav1 a {
	background: #5AC4EB;
	color: #FFFFFF;
	background-image:  url(images/flag_french.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8DD6F1), to(#5AC4EB)); /* Safari 4+, Chrome 1-9 */
    background-image:  url(images/flag_french.png), -webkit-linear-gradient(top, #8DD6F1, #5AC4EB); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image:  url(images/flag_french.png), -moz-linear-gradient(top, #8DD6F1, #5AC4EB); /* Firefox 3.6+ */ 
    background-image:  url(images/flag_french.png), -ms-linear-gradient(top, #8DD6F1, #5AC4EB);/* IE 10+ */
    background-image:  url(images/flag_french.png), -o-linear-gradient(top, #8DD6F1, #5AC4EB); /* Opera 11.10+ */

}

#leftnav li.subnav6 a {
	background: #FF3371;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF6A97), to(#FF3371)); /* Safari 4+, Chrome 1-9 */
	background-image: -webkit-linear-gradient(top, #FF6A97, #FF3371); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -moz-linear-gradient(top, #FF6A97, #FF3371); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #FF6A97, #FF6A97);/* IE 10+ */
	background-image: -o-linear-gradient(top, #FF6A97, #FF3371); /* Opera 11.10+ */
	color: #FFFFFF;
}

body.languages #leftnav li.subnav6 a {
	background: #FF3371;
	background-image: url(images/flag_irish.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF6A97), to(#FF3371)); /* Safari 4+, Chrome 1-9 */
	background-image: url(images/flag_irish.png), -webkit-linear-gradient(top, #FF6A97, #FF3371); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: url(images/flag_irish.png), -moz-linear-gradient(top, #FF6A97, #FF3371); /* Opera 11.10+ */
	background-image: url(images/flag_irish.png), -ms-linear-gradient(top, #FF6A97, #FF6A97);/* IE 10+ */
	background-image: url(images/flag_irish.png), -o-linear-gradient(top, #FF6A97, #FF3371); /* Opera 11.10+ */
	color: #FFFFFF;
}

#leftnav li.subnav7 a {
	background: #F18D0A;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBD40A), to(#F18D0A)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #FBD40A, #F18D0A); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #FBD40A, #F18D0A); /* Firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #FBD40A, #F18D0A);/* IE 10+ */
    background-image: -o-linear-gradient(top, #FBD40A, #F18D0A); /* Opera 11.10+ */
	color: #FFFFFF;
}
body.languages #leftnav li.subnav7 a {
	background: #F18D0A;
    background-image: url(images/flag_latvia.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBD40A), to(#F18D0A)); /* Safari 4+, Chrome 1-9 */
    background-image: url(images/flag_latvia.png), -webkit-linear-gradient(top, #FBD40A, #F18D0A); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: url(images/flag_latvia.png), -moz-linear-gradient(top, #FBD40A, #F18D0A); /* Firefox 3.6+ */ 
    background-image: url(images/flag_latvia.png), -ms-linear-gradient(top, #FBD40A, #F18D0A);/* IE 10+ */
    background-image: url(images/flag_latvia.png), -o-linear-gradient(top, #FBD40A, #F18D0A); /* Opera 11.10+ */
	color: #FFFFFF;
}

#leftnav li.subnav4 a {
	background: #BB200F;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F34D23), to(#BB200F)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #F34D23, #BB200F); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #F34D23, #BB200F); /* Firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #F34D23, #BB200F);/* IE 10+ */
    background-image: -o-linear-gradient(top, #F34D23, #BB200F); /* Opera 11.10+ */
	color: #FFFFFF;
}
body.languages #leftnav li.subnav4 a {
	background: #BB200F;
    background-image: url(images/flag_lithuania.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F34D23), to(#BB200F)); /* Safari 4+, Chrome 1-9 */
    background-image: url(images/flag_lithuania.png), -webkit-linear-gradient(top, #F34D23, #BB200F); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: url(images/flag_lithuania.png), -moz-linear-gradient(top, #F34D23, #BB200F); /* Firefox 3.6+ */ 
    background-image: url(images/flag_lithuania.png), -ms-linear-gradient(top, #F34D23, #BB200F);/* IE 10+ */
    background-image: url(images/flag_lithuania.png), -o-linear-gradient(top, #F34D23, #BB200F); /* Opera 11.10+ */
	color: #FFFFFF;
}
#leftnav li.subnav5 a {
	background: #CE5206;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E58C1D), to(#CE5206)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #E58C1D, #CE5206); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #E58C1D, #CE5206); /* Firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #E58C1D, #CE5206);/* IE 10+ */
    background-image: -o-linear-gradient(top, #E58C1D, #CE5206); /* Opera 11.10+ */
}
body.languages #leftnav li.subnav5 a {
	background: #CE5206;
    background-image: url(images/flag_polish.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E58C1D), to(#CE5206)); /* Safari 4+, Chrome 1-9 */
    background-image: url(images/flag_polish.png), -webkit-linear-gradient(top, #E58C1D, #CE5206); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: url(images/flag_polish.png), -moz-linear-gradient(top, #E58C1D, #CE5206); /* Firefox 3.6+ */ 
    background-image: url(images/flag_polish.png), -ms-linear-gradient(top, #E58C1D, #CE5206);/* IE 10+ */
    background-image: url(images/flag_polish.png), -o-linear-gradient(top, #E58C1D, #CE5206); /* Opera 11.10+ */
}
#leftnav li.subnav2 a {
	background: #759630;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B3D134), to(#759630)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #B3D134, #759630); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #B3D134, #759630); /* Firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #B3D134, #759630);/* IE 10+ */
    background-image: -o-linear-gradient(top, #B3D134, #759630); /* Opera 11.10+ */
	color: #FFFFFF;
}
body.languages #leftnav li.subnav2 a {
	background: #759630;
    background-image: url(images/flag_romania.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B3D134), to(#759630)); /* Safari 4+, Chrome 1-9 */
    background-image: url(images/flag_romania.png), -webkit-linear-gradient(top, #B3D134, #759630); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: url(images/flag_romania.png), -moz-linear-gradient(top, #B3D134, #759630); /* Firefox 3.6+ */ 
    background-image: url(images/flag_romania.png), -ms-linear-gradient(top, #B3D134, #759630);/* IE 10+ */
    background-image: url(images/flag_romania.png), -o-linear-gradient(top, #B3D134, #759630); /* Opera 11.10+ */
	color: #FFFFFF;
}
#leftnav li.subnav3 a {
	background: #E36CFD;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ECC0FE), to(#E36CFD)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #ECC0FE, #E36CFD); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #ECC0FE, #E36CFD); /* Firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #ECC0FE, #E36CFD);/* IE 10+ */
    background-image: -o-linear-gradient(top, #ECC0FE, #E36CFD); /* Opera 11.10+ */
}
body.languages #leftnav li.subnav3 a {
	background: #E36CFD;
    background-image: url(images/flag_china.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ECC0FE), to(#E36CFD)); /* Safari 4+, Chrome 1-9 */
    background-image: url(images/flag_china.png), -webkit-linear-gradient(top, #ECC0FE, #E36CFD); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: url(images/flag_china.png), -moz-linear-gradient(top, #ECC0FE, #E36CFD); /* Firefox 3.6+ */ 
    background-image: url(images/flag_china.png), -ms-linear-gradient(top, #ECC0FE, #E36CFD);/* IE 10+ */
    background-image: url(images/flag_china.png), -o-linear-gradient(top, #ECC0FE, #E36CFD); /* Opera 11.10+ */
}
#leftnav li.subnav10 a {
	background: #BB200F;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F34D23), to(#BB200F)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #F34D23, #BB200F); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #F34D23, #BB200F); /* Firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #F34D23, #BB200F);/* IE 10+ */
    background-image: -o-linear-gradient(top, #F34D23, #BB200F); /* Opera 11.10+ */
	color: #FFFFFF;
}
/*#leftnav li.subnav10 a {
	background: #8DD6F1;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDE68A), to(#F7C604)); /* Safari 4+, Chrome 1-9 */
  /*  background-image: -webkit-linear-gradient(top, #FDE68A, #F7C604); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
  /*  background-image: -moz-linear-gradient(top, #FDE68A, #F7C604); /* Firefox 3.6+ */ 
  /*  background-image: -ms-linear-gradient(top, #FDE68A, #F7C604);/* IE 10+ */
 /*   background-image: -o-linear-gradient(top, #FDE68A, #F7C604); /* Opera 11.10+ */
/*	color: #FFFFFF;
}*/
#leftnav li.subnav9 a {
	background: #1AA3D7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65C7ED), to(#1AA3D7)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #65C7ED, #1AA3D7); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #65C7ED, #1AA3D7); /* Firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #65C7ED, #1AA3D7);/* IE 10+ */
    background-image: -o-linear-gradient(top, #65C7ED, #1AA3D7); /* Opera 11.10+ */
	color: #FFFFFF;
}
#leftnav li.subnav8 a {
	background: #1B8B75;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2FD7B5), to(#1B8B75)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(top, #2FD7B5, #1B8B75); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(top, #2FD7B5, #1B8B75); /* Firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #2FD7B5, #1B8B75);/* IE 10+ */
    background-image: -o-linear-gradient(top, #2FD7B5, #1B8B75); /* Opera 11.10+ */
	color: #FFFFFF;
}

#leftnav li a:hover {
opacity: 0.7;
color:#ffffff;

}


#leftnav li li a{
	background: none;
	padding:3px 10px;
	color:#38B7E7;
	border: none;
	font-weight: normal;
}
#leftnav li li a:hover{
	background: none;
	color:#809926;
	font-weight: normal;
}
.clear{ clear: both;}
#breadcrumb{ color:#666666; margin:20px 0;}
#breadcrumb li{ display:inline;
}
#breadcrumb a{
	color: #006A6D;
	text-decoration: none;
	background: #ffffff; 
	opacity:0.8; 
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px; 
	padding:7px;
}
#breadcrumb a:hover{
	text-decoration: underline;
	
}
#col2 h1{ color:#8DD6F1; font-size:300%; font-weight: normal; margin:50px 0 50px 0; line-height:100%;}
#col2 h2{
	color:#FD82A7;
	font-size:180%;
	font-weight: normal;
	margin:30px 0 10px 0;
}
#col2 p { margin-bottom:10px; }

th{ text-align:left;padding: 5px;}

td {
	padding: 5px;
	background: #FFF9FB;
	border: 1px solid #FFFFFF;
	vertical-align: top;
}
table {
	background: #FFECF3;
	width: 100%;
	margin-bottom: 20px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	font-size:90%;
	clear:both;
}
blockquote{
	margin:0 40px;
	font-style: italic;
	font-size: 110%;
	color:#007472;
}
#col2 a{ color:#006B6D;}
#col2 a:hover{
	text-decoration: none;
	color:#8DD7F4;
}
#col2 .snippet h3 a {
	text-decoration: none;
	color: #89A529;
}
#col2 .snippet h3 a:hover {
	text-decoration: underline;
	color: #51C2EE;
}

#ilikecakelogo{ float:right; margin:80px 0 10px 0;}

.invisible{ position: absolute; width: 0; height:0; overflow:hidden;}


.styledform input, .styledform textarea{  
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px solid #999999;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #e4e4e4;
	border-left: 1px solid #cccccc;
	padding:3px;
	width:400px;
}

input.button{background: #666666 url(images/searchbg.jpg) repeat center center; 
border:1px solid #000000;
width:408px; color:#FFFFFF;}
#searchbox #q{
	background:#F9F9F9;
	border-top: 1px solid #999999;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #e4e4e4;
	border-left: 1px solid #cccccc;
	width:150px;
	display: inline;
	padding:3px;
	margin-bottom:5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#searchbox #sa{
	background: #066871 url(images/searchbg.jpg) repeat center center;
	border:1px solid #000000;
	color:#FFFFFF;
	width:158px;
	display: inline;
	padding:3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.success{
	background: #ACCD36;
	border: 2px dashed #FFFFFF;
	padding:20px;
	color:#FFFFFF;
	font-weight: bold;
	text-align:center;
}
.error{
	background: #F04420;
	border: 2px dashed #FFFFFF;
	padding:20px;
	color:#FFFFFF;
	font-weight: bold;
	text-align:center;
}
.floatimageright{ float:right; margin:0 0 20px 20px;}
#maincontent{ clear:both;}

.highlight{
	background: #FEBFD2;
	border: 2px dashed #F04420;
	font-size: 135%;
	padding: 20px;
	text-align: center;
	color:#FFFFFF;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#col2 .highlight a{ color:#FFFFFF;}
#col2 .highlight a:hover{ text-decoration: none; color:#FFFFFF;}

.btb{
	font-family: "Bauhaus 93";
}

#maincontent .div_tooltip h1{ font-weight: normal; font-size: 120%;  margin:10px 0 5px 0; line-height:100%;}
#maincontent .div_tooltip p{ font-weight: normal; font-size: 90%;  margin:0 0 5px 0; line-height:110%;}

.div_tooltip {
	z-index: 999;
	display: none;
	position: absolute;
	width: 250px;
	height: auto;
	background: #fff;
	border: 1px solid #333;
	padding:15px;
}

#tooltip_01 { top: 210px; left: 710px; }
#tooltip_02 { top: 207px; left: 515px; }
#tooltip_03 { top: 305px; left: 485px; }
#tooltip_04 { top: 245px; left: 505px; }
#tooltip_05 { top: 235px; left: 760px; }
#tooltip_06 { top: 180px; left: 785px; }
#tooltip_07 { top: 354px; left: 255px; }
#tooltip_08 { top: 213px; left: 379px; }
#tooltip_09 { top: 220px; left: 264px; }
#tooltip_10 { top: 241px; left: 113px; }
#tooltip_11 { top: 130px; left: 400px; }
#tooltip_12 { top: 195px; left: 150px; }
#tooltip_13 { top: 284px; left: 428px; }
#tooltip_14 { top: 132px; left: 244px; }
#tooltip_15 { top: 278px; left: 241px; }
#tooltip_16 { top: 244px; left: 368px; }
#tooltip_17 { top: 78px; left: 323px; }
#tooltip_18 { top: 211px; left: 448px; }
#tooltip_19 { top: 241px; left: 163px; }
#tooltip_19 { top: 241px; left: 163px; }
#tooltip_20 { top: 241px; left: -20px; }

#maincontent #map p{font-weight: normal; font-size: 90%;  margin:0 0 5px 0; line-height:110%;}